@import "../utils/Variables.scss";

.assets {
  height: 27vh;
  // drop-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  background-color: transparent;

  overflow: hidden;
  & .listTokens {
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    background-color: $activitiesCol;
    border-radius: 0.5rem;
    list-style: none;
    // transform: translateY(-100%);
    overflow-y: scroll;
    transition: all 0.5s linear;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      color: $primaryCol;
    }
    &.show {
      transform: translateY(0%);
    }

    & li {
      padding: 0.5rem 0rem;
      font-size: 1.2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: $scondaryCol;
      & span:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 5rem;
      }
      &:last-child {
        border-bottom: none;
      }
      &:first-child {
        color: $primaryCol;
      }
    }
  }
}
