@import "../utils/Variables.scss";

.createPage {
  height: 100vh;
  & h3 {
    padding-left: 3rem;
    margin-top: 0rem;
    font-size: 1.4rem;
    color: $scondaryCol;
    @media screen and (max-width: 760px) {
      padding: 2rem 0 2rem 2rem;
    }
  }
  &.createPageDark {
    background-color: $SecondaryDark;
    color: $primaryWhite;
    & .phraseBox ul li {
      color: $primaryCol;
    }
  }
}

.container {
  display: flex;
  @media screen and (max-width: 760px) {
    flex-direction: column;
  }
  gap: 1rem;
  & div:nth-of-type(2) {
    width: 30%;
    font-size: 1.2rem;
    @media screen and (max-width: 760px) {
      width: 90%;
      padding-left: 1rem;
    }
  }
}

.phraseBox {
  // box-sizing: border-box;
  margin: 0rem 0rem 0rem 3rem;
  padding: 0.2rem;
  width: 30%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  background-color: $secondaryWhite;
  @media screen and (max-width: 760px) {
    width: 90%;
    margin: 0 1rem;
  }
  & ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;

    & li {
      display: inline-block;
      background-color: $createPhraseCol;
      padding: 0.2rem 0.8rem;
      font-size: 1.2rem;
      border-radius: 0.5rem;
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.932);
  top: 0;
  left: 0;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  & button {
    padding: 0.3rem 0.8rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 3px solid $scondaryCol;
    color: $primaryWhite;
    cursor: pointer;
  }
}

.submitBtn {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.3rem 1.2rem;
  background-color: $thirdColDark;
  border-radius: 0.5rem;
  border: 3px solid $thirdColDark;
  color: $primaryCol;
  cursor: pointer;
  &:hover {
    border: 3px solid $scondaryCol;
  }
  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.copyBtn {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.3rem 0.8rem;
  background-color: $scondaryCol;
  border-radius: 0.5rem;
  border: 3px solid $scondaryCol;
  color: $primaryWhite;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 3px solid $successfull;
  }
  & .icon {
    margin-right: 0.5rem;
    color: $primaryWhite;
  }
  @media screen and (max-width: 760px) {
    width: 100%;
    margin-left: 0rem;
  }
}
