@import "../layout/background.module.scss";
@import "../components/SubmitButton.module.scss";
@import "../components/input.module.scss";

.signUp {
  height: 90vh;
  padding-top: 5rem;
  & form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    margin: 0 auto;
    & label {
      margin-top: 1rem;
    }
    & input {
      @include input;
    }
    & .input {
      @include input;
      &.error {
        border: 1px solid $warning;
      }
    }
    & button {
      @include submitBtn;
      padding: 0.3rem 0;
      font-size: 1rem;
    }
  }
  &.Dark {
    @include BG-dark;
  }

  & .loading {
    position: absolute;
    top: 50%;
    color: $thirdColDark;
    font-size: 2rem;
    left: 50%;
    animation: spinning 0.6s ease-in-out infinite;
  }
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}
