$primaryWhite: #fff;
$secondaryWhite: #eee;

$primaryDark: #0c0f19;
$SecondaryDark: #2a2c37;
$thirdDark: #030f25;

$warning: #eb4a4c;
$incorrect: #eb4a4c;
$secondaryIncorrect: #9e3233;
$successfull: #50f878;

$primaryCol: #061a40;
$scondaryCol: #0353a4;
$secondaryColDark: #024283;
$thirdColDark: #6fbcf0;
$thirdCol: #b9d6f2;
$thirdColLight: #cee2f6;

$createPhraseCol: #d0d0d0;
